<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <!--加载后台头部公共文件-->
    <%include ../../../Admin/View/default/public_header.html%>
    <!-- 在此加入当前页面自定义CSS及JS start -->

    <!-- 在此加入当前页面自定义CSS及JS end -->
</head>
<body>
<div id="user-profile-3" class="user-profile row-fluid">
    <div class="offset1 span10">
        <form id="main_form" class="form-horizontal J_ajaxForm" method="post">
            <div class="tabbable">
                <ul class="nav nav-tabs padding-16">
                    <li class="active">
                        <a data-toggle="tab" href="#edit-basic">
                            <i class="green icon-edit bigger-125"></i>
                            基本信息
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#edit-password">
                            <i class="blue icon-key bigger-125"></i>
                            密码
                        </a>
                    </li>

                </ul>

                <div class="tab-content profile-edit-tab-content">
                    <div id="edit-basic" class="tab-pane in active">
                        <h4 class="header blue bolder smaller">基本信息</h4>

                        <div class="row-fluid">
                            <div class="span4">
                                <%if(userinfo.icon){%>
                                <span class="profile-picture"><img id="user_icon" name="icon" onerror="this.onerror=null; this.src='/Public/avatars/profile-pic.jpg'" src="<%=userinfo.icon%>" alt="user_icon"/></span>
                                <%}else{%>
                                <div style="text-align: center;">
                                    <a onclick="doUpload('thumb', '图片上传','imgPreview');return false;" href="javascript:void(0);">
                                        <img style="cursor:hand" id="thumb" src="/Public/img/upload-pic.png">
                                    </a><br />
                                    <input type="button" class="btn btn-mini" value="图片裁剪" onclick="blcrop_cut_img($('#thumb').val(),'thumb','thumb_preview','contents');return false;" />
                                    <input type="button" class="btn btn-mini" value="取消图片" onclick="$('#thumb_preview').attr('src','/Public/img/upload-pic.png');$('#thumb').val('');return false;">
                                </div>
                                <%}%>
                            </div>

                            <div class="span8">
                                <div class="control-group">
                                    <label class="control-label" for="form-field-username">用户名</label>

                                    <div class="controls">
                                        <input type="text" id="form-field-username" readonly name="username" placeholder="Username"
                                               value="<%=userinfo.username%>"/>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="form-field-name">姓名</label>
                                    <div class="controls">
                                        <input type="text" id="form-field-name" name="nickname" value="<%=userinfo.nickname%>"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr/>
                        <div class="control-group">
                            <label class="control-label" for="form-field-date">生日</label>

                            <div class="controls">
                                <div class="input-append">
                                    <input class="input-small J_date" id="form-field-date" name="birthday" type="text" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" value="<%=userinfo.birthday%>" />
																	<span class="add-on">
																		<i class="icon-calendar"></i>
																	</span>

                            </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">性别</label>

                            <div class="controls">
                                <div class="space-2"></div>

                                <label class="inline">
                                    <input name="gender" type="radio" value="1" <%if(userinfo.gender == 1){%>checked<%}%>/>
                                    <span class="lbl">男</span>
                                </label>

                                &nbsp; &nbsp; &nbsp;
                                <label class="inline">
                                    <input name="gender" type="radio" value="0" <%if(userinfo.gender == 0){%>checked<%}%>/>
                                    <span class="lbl">女</span>
                                </label>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="form-field-comment">简介</label>

                            <div class="controls">
                                <textarea class="autosize-transition" id="form-field-comment" name="remark"><%=userinfo.remark%></textarea>
                            </div>
                        </div>

                        <div class="space"></div>
                        <h4 class="header blue bolder smaller">联系方式</h4>

                        <div class="control-group">
                            <label class="control-label" for="form-field-email">Email</label>

                            <div class="controls">
					<span class="input-icon input-icon-right">
						<input type="email" id="form-field-email" name="email" placeholder="alexdoe@gmail.com" value="<%=userinfo.email%>"/>
						<i class="icon-envelope"></i>
						</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="form-field-website">Website</label>

                            <div class="controls">
								<span class="input-icon input-icon-right">
									<input type="url" id="form-field-website" name="website" placeholder="http://www.alexdoe.com/" value="<%=userinfo.website%>"/>
									<i class="icon-globe"></i>
								</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="form-field-phone">Phone</label>

                            <div class="controls">
								<span class="input-icon input-icon-right">
									<input type="text" class="input-medium input-mask-phone" id="form-field-phone" name="phone" value="<%=userinfo.phone%>"/>
									<i class="icon-phone icon-flip-horizontal"></i>
								</span>
                            </div>
                        </div>

                    </div>

                    <div id="edit-password" class="tab-pane">
                        <div class="space-10"></div>

                        <div class="control-group">
                            <label class="control-label" for="form-field-pass1">新密码</label>

                            <div class="controls">
                                <input type="password" id="form-field-pass1" name="password" value=""/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="form-field-pass2">重复新密码</label>

                            <div class="controls">
                                <input type="password" id="form-field-pass2" name="repassword"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button class="btn btn-info J_ajax_submit_btn" type="submit" data-action="/Admin/AdminUser/public_profile">
                    <i class="icon-ok bigger-110"></i>
                    保存
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
    <!--/span-->
</div>
</body>
</html>