<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <!--加载后台头部公共文件-->
    <%include ../../../Admin/View/default/public_header.html%>
    <!-- 在此加入当前页面自定义CSS及JS start -->
    <script>
        function setIcon(obj) {
            if (obj !== undefined) {
                var icon = $(obj).find("i").eq(0).attr("class");
                $("#icon").val(icon);
            }
        }
    </script>
    <!-- 在此加入当前页面自定义CSS及JS end -->
</head>
<body>
<!--PAGE CONTENT BEGINS-->
<div class="page-content">
    <form id="main_form" class="J_ajaxForm" method="post">
        <div class="row-fluid">
            <div class="widget-box">
                <div class="widget-header">
                    <h4></h4>

                <span class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="icon-chevron-up"></i>
                    </a>
                </span>
                </div>

                <div class="widget-body">
                    <div class="widget-main">

                        <table class="table table-striped table-bordered">
                            <tr>
                                <td>规则名称</td>
                                <td><input type="text" name="desc" placeholder="名称" value="<%=info.desc%>"/></td>
                            </tr>
                            <tr>
                                <td>规则</td>
                                <td><input type="text" name="name" placeholder="例:/Admin/User/index" value="<%=info.name%>"/>
                                    <br/>分组名/控制器名/方法名;<br/>控制器类名不带"Controller";方法名不带"Action";末尾不带"/";<br/>无需权限认证则不填)
                                </td>
                            </tr>
                            <tr>
                                <td>附加条件</td>
                                <td><input type="text" name="condition" placeholder="附加条件" value="<%=info.condition%>"/>(and或空)</td>
                            </tr>
                            <tr>
                                <td>父级</td>
                                <td>
                                    <select name="pid" class="J_select chzn-select" data-placeholder="请选择...">
                                        <option value="0-0">顶级</option>
                                        <%parents.forEach(function(v,k){%>
                                        <option value="<%=v.id%>-<%=v.level%>"
                                        <%if(info.pid == v.id){%>selected<%}%>><%=v.desc%></option>
                                        <%})%>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>状态</td>
                                <td>
                                    <input name="status" class="ace-switch ace-switch-3 J_switch" type="checkbox"
                                    <%if(info.status == 1){%>checked<%}%> />
                                    <span class="lbl"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>显示</td>
                                <td>
                                    <input name="isshow" class="ace-switch ace-switch-3 J_switch" type="checkbox"
                                    <%if(info.isshow == 1){%>checked<%}%>/>
                                    <span class="lbl"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>图标</td>
                                <td><input id="icon" name="icon" type="text" readonly value="<%=info.icon%>"/>(点击下列图标选择)</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="row-fluid">
                                        <div class="span3">
                                            <ul class="unstyled the-icons">
                                                <li onclick="setIcon(this);">
                                                    <i class="icon-adjust"></i>
                                                    icon-adjust
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-asterisk"></i>
                                                    icon-asterisk
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-ban-circle"></i>
                                                    icon-ban-circle
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-bar-chart"></i>
                                                    icon-bar-chart
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-barcode"></i>
                                                    icon-barcode
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-beaker"></i>
                                                    icon-beaker
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-beer"></i>
                                                    icon-beer
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-bell"></i>
                                                    icon-bell
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-bell-alt"></i>
                                                    icon-bell-alt
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-bolt"></i>
                                                    icon-bolt
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-book"></i>
                                                    icon-book
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-bookmark"></i>
                                                    icon-bookmark
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-bookmark-empty"></i>
                                                    icon-bookmark-empty
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-briefcase"></i>
                                                    icon-briefcase
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-bullhorn"></i>
                                                    icon-bullhorn
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-calendar"></i>
                                                    icon-calendar
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-camera"></i>
                                                    icon-camera
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-camera-retro"></i>
                                                    icon-camera-retro
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-certificate"></i>
                                                    icon-certificate
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="span3">
                                            <ul class="unstyled the-icons">
                                                <li onclick="setIcon(this);">
                                                    <i class="icon-check"></i>
                                                    icon-check
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-check-empty"></i>
                                                    icon-check-empty
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-circle"></i>
                                                    icon-circle
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-circle-blank"></i>
                                                    icon-circle-blank
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-cloud"></i>
                                                    icon-cloud
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-cloud-download"></i>
                                                    icon-cloud-download
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-cloud-upload"></i>
                                                    icon-cloud-upload
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-coffee"></i>
                                                    icon-coffee
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-cog"></i>
                                                    icon-cog
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-cogs"></i>
                                                    icon-cogs
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-comment"></i>
                                                    icon-comment
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-comment-alt"></i>
                                                    icon-comment-alt
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-comments"></i>
                                                    icon-comments
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-comments-alt"></i>
                                                    icon-comments-alt
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-credit-card"></i>
                                                    icon-credit-card
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-dashboard"></i>
                                                    icon-dashboard
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-desktop"></i>
                                                    icon-desktop
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-download"></i>
                                                    icon-download
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-download-alt"></i>
                                                    icon-download-alt
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="span3">
                                            <ul class="unstyled the-icons">
                                                <li onclick="setIcon(this);">
                                                    <i class="icon-edit"></i>
                                                    icon-edit
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-envelope"></i>
                                                    icon-envelope
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-envelope-alt"></i>
                                                    icon-envelope-alt
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-exchange"></i>
                                                    icon-exchange
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-exclamation-sign"></i>
                                                    icon-exclamation-sign
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-external-link"></i>
                                                    icon-external-link
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-eye-close"></i>
                                                    icon-eye-close
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-eye-open"></i>
                                                    icon-eye-open
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-facetime-video"></i>
                                                    icon-facetime-video
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-fighter-jet"></i>
                                                    icon-fighter-jet
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-film"></i>
                                                    icon-film
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-filter"></i>
                                                    icon-filter
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-fire"></i>
                                                    icon-fire
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-flag"></i>
                                                    icon-flag
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-folder-close"></i>
                                                    icon-folder-close
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-folder-open"></i>
                                                    icon-folder-open
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-folder-close-alt"></i>
                                                    icon-folder-close-alt
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-folder-open-alt"></i>
                                                    icon-folder-open-alt
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-food"></i>
                                                    icon-food
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="span3">
                                            <ul class="unstyled the-icons">
                                                <li onclick="setIcon(this);">
                                                    <i class="icon-gift"></i>
                                                    icon-gift
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-glass"></i>
                                                    icon-glass
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-globe"></i>
                                                    icon-globe
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-group"></i>
                                                    icon-group
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-hdd"></i>
                                                    icon-hdd
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-headphones"></i>
                                                    icon-headphones
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-heart"></i>
                                                    icon-heart
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-heart-empty"></i>
                                                    icon-heart-empty
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-home"></i>
                                                    icon-home
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-inbox"></i>
                                                    icon-inbox
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-info-sign"></i>
                                                    icon-info-sign
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-key"></i>
                                                    icon-key
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-leaf"></i>
                                                    icon-leaf
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-laptop"></i>
                                                    icon-laptop
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-legal"></i>
                                                    icon-legal
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-lemon"></i>
                                                    icon-lemon
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-lightbulb"></i>
                                                    icon-lightbulb
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-lock"></i>
                                                    icon-lock
                                                </li>

                                                <li onclick="setIcon(this);">
                                                    <i class="icon-unlock"></i>
                                                    icon-unlock
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>