    <meta charset="utf-8" />
    <title>Mobile Application Content Management System</title>
    <link href="/Static/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--basic styles-->
    <link href="/Static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Static/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Static/css/font-awesome.min.css" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="/Static/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!--fonts-->
    <link rel="stylesheet" href="/Static/css/fonts.css" />

    <!--ace styles-->
    <link rel="stylesheet" href="/Static/css/ace.min.css" />
    <link rel="stylesheet" href="/Static/css/ace-responsive.min.css" />
    <link rel="stylesheet" href="/Static/css/ace-skins.min.css" />

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/Static/css/ace-ie.min.css" />
    <![endif]-->

    <!--basic scripts-->
    <!--<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>-->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/Static/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
        if("ontouchend" in document) document.write("<script src='/Static/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>

    <!--page specific plugin scripts-->
    <script src="/Static/js/head.min.js" init="init" main="common"></script>