<div class="sidebar" id="sidebar">
<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-small btn-success">
            <i class="icon-laptop"></i>
        </button>

        <button class="btn btn-small btn-info">
            <i class="icon-pencil"></i>
        </button>

        <button class="btn btn-small btn-warning">
            <i class="icon-cogs"></i>
        </button>

        <button class="btn btn-small btn-danger" onclick="javascript:loadMenuContent('cache','缓存','/Admin/Sysconf/public_cache');">
            <i class="icon-trash"></i>
        </button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
    </div>
</div>
   <!-- #sidebar-shortcuts-->
    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left"></i>
    </div>
<ul class="nav nav-list">
<%adminMenu.forEach(function(v,k){%>
<li>
    <%if(isEmpty(v.children)){%>
    <a href="javascript:loadMenuContent('<%=v.id%>','<%=v.name%>','<%=v.url%>');">
    <%}else{%>
    <a href="#" class="dropdown-toggle">
    <%}%>
        <i class="<%=v.icon%>"></i>
        <span class="menu-text"> <%=v.name%> </span>
        <%if(!isEmpty(v.children)){%>
        <b class="arrow icon-angle-down"></b>
        <%}%>
    </a>
    <%if(!isEmpty(v.children)){%>
    <ul class="submenu">
        <%v.children.forEach(function(m,n){%>
        <li>
            <%if(isEmpty(m.children)){%>
            <a href="javascript:loadMenuContent('<%=m.id%>','<%=m.name%>','<%=m.url%>');">
                <%}else{%>
                <a href="#" class="dropdown-toggle">
                    <%}%>
            <i class="icon-double-angle-right"></i>
            <%=m.name%>
            <%if(!isEmpty(m.children)){%>
            <b class="arrow icon-angle-down"></b>
            <%}%>
            </a>
            <%if(!isEmpty(m.children)){%>
            <ul class="submenu">
                <%m.children.forEach(function(r,s){%>
                <li>
                    <a href="javascript:loadMenuContent('<%=r.id%>','<%=r.name%>','<%=r.url%>');">
                        <%=r.name%>
                    </a>
                </li>
                <%})%>
            </ul>
            <%}%>
        </li>
        <%})%>
    </ul>
    <%}%>
</li>
<%})%>
</ul><!--/.nav-list-->

</div>
