<!DOCTYPE html>
<html>
<head lang="zh-cn">
<!--加载后台头部公共文件调用时要注意写head结束-->
<%include ../../../Admin/View/default/public_header.html%>
<!-- 在此加入当前页面自定义CSS及JS start -->

<!-- 在此加入当前页面自定义CSS及JS end -->
</head>
<body class="login-layout">
<div class="main-container container-fluid">
<div class="main-content">
<div class="row-fluid">
<div class="span12">
<div class="login-container">
<div class="row-fluid">
    <div class="center">
        <h1>
            <i class="icon-leaf green"></i>
            <span class="white"><%=title%></span>
        </h1>
        <h4 class="blue">&copy; Enlink.Mobi</h4>
    </div>
</div>

<div class="space-6"></div>

<div class="row-fluid">
    <div class="position-relative">
        <div id="login-box" class="login-box visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header blue lighter bigger">
                        <i class="icon-coffee green"></i>
                        请输入您的账号登录
                    </h4>

                    <div class="space-6"></div>

                    <fieldset>
                        <label>
															<span class="block input-icon input-icon-right">
																<input type="text" class="span12" id="username" name="username" placeholder="Username" />
																<i class="icon-user"></i>
															</span>
                        </label>

                        <label>
															<span class="block input-icon input-icon-right">
																<input type="password" class="span12" id="password" name="password" placeholder="Password" />
																<i class="icon-lock"></i>
															</span>
                        </label>
                        <label>
															<span class="block input-icon input-icon-right">
																<input type="text" class="span6" id="verify" name="verify" placeholder="Captcha" onfocus="document.getElementById('verifyCode').style.display='block'"/>
                                                                <span id="verifyCode" style="display: none;"><a href="javascript:getVerifyImg();void(0);"><img id="verify_img" src="/Admin/Public/captcha" /></a></span>
															</span>
                        </label>

                        <div class="space"></div>

                        <div class="clearfix">
                            <label class="inline">
                                <input type="checkbox" />
                                <span class="lbl"> Remember Me</span>
                            </label>
                            <div id="alert-error" class="alert alert-error" style="display: none;">
                                <span id="errormsg"></span>
                            </div>
                            <div id="alert-success" class="alert alert-block alert-success" style="display: none;">
                                <span id="successmsg"></span>
                            </div>
                            <button onclick="checkLogin();" class="width-35 pull-right btn btn-small btn-primary">
                                <i class="icon-key"></i>
                                Login
                            </button>
                        </div>

                        <div class="space-4"></div>
                    </fieldset>

                </div><!--/widget-main-->

            </div><!--/widget-body-->
        </div><!--/login-box-->

    </div><!--/position-relative-->
</div>
</div>
</div><!--/.span-->
</div><!--/.row-fluid-->
</div>
</div><!--/.main-container-->
<script type="text/javascript">

    function getVerifyImg(){
        var img = "/Admin/Public/captcha/time/"+Math.random();
        document.getElementById('verify_img').src= img;
    }
    function checkLogin(){
        $.post("/Admin/Public/checkLogin", {username:$("#username").val(),password:$("#password").val(),verify:$("#verify").val()},
                function(data) {
                    if(data.errno > 0){
                        $("#errormsg").html(data.errmsg);
                        getVerifyImg();
                        $("#alert-error").show();
                    }else{
                        window.location = data.data.referer;
                    }
                    return false;
                });
    }
    $(document).keyup(function(event){
        if(event.keyCode ==13){
            checkLogin();
        }
    });
</script>
</body>
</html>
