<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <!--加载后台头部公共文件-->
    <%include ../../../Admin/View/default/public_header.html%>
    <!-- 在此加入当前页面自定义CSS及JS start -->

    <!-- 在此加入当前页面自定义CSS及JS end -->
</head>
<body>
<!--PAGE CONTENT BEGINS-->
<div class="page-content">
    <div class="row-fluid">
        <input multiple="" class="J_file_input" type="file" id="file_upload" />
        <label>
            <input type="checkbox" class="J_file_format" file_type="img" name="file-format" for="file_upload" />
            <span class="lbl"> Allow only images</span>
        </label>
    </div>
</div>
</body>
</html>