<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <!--加载后台头部公共文件-->
    <%include ../../../Admin/View/default/public_header.html%>
    <!-- 在此加入当前页面自定义CSS及JS start -->

    <!-- 在此加入当前页面自定义CSS及JS end -->
</head>
<body>
<!--PAGE CONTENT BEGINS-->
<div class="page-content">
    <form id="file_upload_form" class="form-inline page-header J_ajaxForm" method="post" action="" enctype="multipart/form-data">
        <div class="row-fluid">
            <input class="J_file_input" type="file" id="file_upload" name="file_upload" file_type="img"/>
        </div>
        <button class="btn btn-info J_ajax_submit_btn" type="submit">
            <i class="icon-ok bigger-110"></i>
            提交
        </button>
    </form>
</div>
</body>
</html>